//-
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <%
  var title = page.title;

  if (is_archive()){
    title = __('archive');

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = __('category') + ': ' + page.category;
  } else if (is_tag()){
    title = __('tag') + ': ' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> - <% } %><%= config.title %></title>
  <% if (theme.favicon){ %>
    <%- favicon_tag(theme.favicon) %>
  <% } %>
  <% if (theme.manifest) { %>
    <link rel='manifest' href='<%= theme.manifest %>'>
  <% } %>

  <%- css('css/variables') %>
  <%- css('css/main') %>
  <%- //css('css/typography') %>
  <%- //css('css/code-highlighting') %>
  <%- //css('css/components') %>
  <%- css('css/nav') %>
  <%- //css('css/paginator') %>
  <%- css('css/footer') %>
  <%- //css('css/post-list') %>
  <%- //css('css/waline') %>
  <% if (page.path == "index.html") { %>
  <%- css('css/index') %>
  <% } %>
  <% if (page.path != "index.html" && page.path != "archives/index.html") { %>
  <%- //css('css/post') %>
  <% } %>

  <%- css('css/ui') %>
  <%- css('css/post') %>
  <%- css('css/article') %>
  <%- css('css/nav-mobile') %>
  <%- css('css/categories') %>
  <%- css('css/pagination') %>

  <%- css('css/markdown') %>

  <%- css('css/components') %>

  <% if (config.waline) { %>
    <script src='//cdn.jsdelivr.net/npm/@waline/client/dist/Waline.min.js'></script>
  <% } %>

  <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">

  </head>


meta(charset="utf-8")
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1")

block title
  -
    let title = '';
    if(is_archive()) {
      title = __('archive');
      if(is_month()) {
        title = `${page.year}/${page.month}`;
      } else {
        title = `${page.year}`;
      }
    } else if(is_category()) {
      title = `${__('category')}; ${page.category}`;
    } else if(is_tag()) {
      title = `${__('tag')}; ${page.tag}`;
    }
  title= title

if theme.favicon
  != favicon_tag(theme.favicon)
if theme.manifest
  link(rel="manifest", href=theme.manifest)

!= css('css/main')
!= css('css/markdown')

link(href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css')
link(href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet")
