.comment-container
  .comment-light
    script(src="https://utteranc.es/client.js"
    repo="hoqn/hoqn.github.io"
    issue-term="pathname"
    theme="github-light"
    crossorigin="anonymous"
    async)
  .comment-dark
    script(src="https://utteranc.es/client.js"
    repo="hoqn/hoqn.github.io"
    issue-term="pathname"
    theme="github-dark"
    crossorigin="anonymous"
    async)