.search-header
  span.search-icon
    i.fa.fa-search
  .search-input-container
    input(
      autocomplete="off" 
      autocorrect="off" 
      autocapitalize="none"
      placeholder= "검색어를 입력하세요"
      spellcheck="false"
      type="text"
      id="search-input"
      )
  span.popup-btn-close
    i.fa.fa-times-circle
#search-result